@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
* { box-sizing: border-box; }

body { font: 100% "Montserrat", sans-serif; margin: 0; color: #a8a8a9; background-color: #232323; }

figure { margin: 0; padding: 20px 20px; }

ul, li { list-style: none; padding: 0; }

.container header { text-align: center; margin-top: 60px; }

.container header img { width: 70px; }

.container header h1 { margin: 0 0 0.5em 0; }

.content { margin-top: 3em; padding: 0 40px 1em 100px; }

.content .mockup_browser { max-width: 1800px; margin: 0 auto; }

.mockup_navbar { display: flex; justify-content: space-between; align-items: center; font-weight: 600; height: 120px; }

.mockup_navbar .navbar_logo { font-size: 1.75em; }

.mockup_navbar .navbar_menu { display: flex; }

.mockup_navbar .navbar_menu li { padding: 0 10px; }

.mockup_section { padding: 80px 0; min-height: 300px; background-color: #f3f3f3; }

.mockup_section_dark { background-color: #dbdbdb; }

.mockup_content { max-width: 1100px; margin: 0 auto; padding: 0 2em; }

.mockup_content h2 { margin: 0 0 30px 0; font-size: 2em; }

.mockup_grid { display: flex; flex-wrap: wrap; }

.mockup_grid .mockup_grid_item { position: relative; }

.mockup_grid .mockup_grid_item .mockup_long_text { line-height: 25px; margin: 0 0 20px 0; }

.mockup_width_half { width: 50%; }

.mockup_width_third { width: 33%; }

.mockup_width_forth { width: 25%; }

.mockup_image { background: rgba(0, 0, 0, 0.08); text-align: center; line-height: 200px; height: 200px; font-size: 40px; color: rgba(0, 0, 0, 0.1); }

.image_large { height: 300px; line-height: 300px; }

.mockup_heading { width: 100%; margin: 0; font-weight: 600; font-size: 1.25em; margin: 30px 0; }

.mockup_heading_box { padding: 30px; background-color: #a8a8a9; color: #f3f3f3; }

.heading_large { font-size: 3em; margin: 0; }

.mockup_button { border: none; background-color: #a8a8a9; color: #fff; text-transform: uppercase; letter-spacing: 3px; font-size: 0.85em; font-weight: 600; padding: 1.5em 2.5em; white-space: nowrap; }

.mockup_caption { background-color: #f3f3f3; text-align: center; padding: 1.5em; }

.mockup_caption h3 { margin: 0; padding-top: 1em; }

.mockup_pricing { text-align: center; background-color: #fff; padding: 0 0 2.5rem; }

.mockup_pricing p { margin: 20px 0; }

.mockup_list_wrap { padding: 10px 0; margin: 0 0 30px 0; background-color: #dbdbdb; }

.mockup_list_wrap .mockup_list li { padding: 10px 0; }

.paint_area.hold { box-shadow: inset 0 0 0 3px #a07dff; }

.paint_text.hold { text-shadow: -1px -1px 0 rgba(133, 125, 255, 0.5), 1px -1px 0 rgba(133, 125, 255, 0.5), -1px 1px 0 rgba(133, 125, 255, 0.5), 1px 1px 0 rgba(133, 125, 255, 0.5); }

.customizer { background: #444; position: fixed; max-height: 100%; max-width: 75px; top: 50%; left: 0; z-index: 10000; padding: 20px 10px 10px 10px; text-align: center; transform: translate3d(0, -50%, 0); border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

.customizer span { font-weight: 600; }

.customizer .color_tool { padding: 0; font-size: 30px; display: flex; flex-direction: column; align-items: center; margin: 20px 0; }

.customizer .color_tool li { padding: 5px; }

.customizer .color_tool li input::-webkit-color-swatch { border: none; border-radius: 45px; }

.customizer .color_tool li .input_color { width: 35px; height: 38px; border: none; padding: 0; background-color: transparent; }

.customizer .color_tool li .input_color:hover { cursor: move; cursor: grab; }

.customizer .color_tool li .input_color:active { cursor: grabbing; }

.customizer .color_tool .reset_button { font-size: 20px; border-style: none; background-color: transparent; color: #fff; }

@media screen and (max-width: 70em) { .mockup_width_forth { width: 50%; } }

@media screen and (max-width: 60em) { .mockup_width_third { width: 100%; } }

@media screen and (max-width: 50em) { .mockup_width_forth, .mockup_width_half { width: 100%; } }
