@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

// Font
$font-stack: 'Montserrat', sans-serif;
$heading_large: 3em;
$heading_medium: 1.25em;

// Color
$body_background_color: #232323;
$section_background_color: #f3f3f3;
$section_background_dark_color: #dbdbdb;
$button_color: #a8a8a9;
$image_background_color: rgba(0, 0, 0, 0.08);
$image_font_color: rgba(0, 0, 0, 0.1);
$paint_area_border_color: inset 0 0 0 3px rgb(160, 125, 255);
$paint_text_border_color: -1px -1px 0 rgba(133, 125, 255, 0.5), 1px -1px 0 rgba(133, 125, 255, 0.5), -1px 1px 0 rgba(133, 125, 255, 0.5), 1px 1px 0 rgba(133, 125, 255, 0.5);
