@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

// Font
$font-stack: 'Montserrat', sans-serif;
$heading_large: 3em;
$heading_medium: 1.25em;

// Color
$button_color: #a8a8a9;
$color_1: #fd6868;
$color_2: #fcb574;
$color_3: #f0e79a;
$color_4: #b5c9a2;
$color_5: #637a5e;
$color_6: #a5c9f1;
$color_7: #63648d;
$color_8: #e5beca;
$color_9: #cab1d4;
$color_10: #ffffff;
$color_11: #2e2e2e;
