@import '_base.scss';

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  margin: 0;
  color: $button_color;
  background-color: $body_background_color;
}

figure {
  margin: 0;
  padding: 20px 20px;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.container {
  header {
    text-align: center;
    margin-top: 60px;

    img {
      width: 70px;
    }

    h1 {
      margin: 0 0 0.5em 0;
    }
  }
}

.content {
  margin-top: 3em;
  padding: 0 40px 1em 100px;

  .mockup_browser {
    max-width: 1800px;
    margin: 0 auto;
  }
}

// Navbar
.mockup_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  height: 120px;

  .navbar_logo {
    font-size: 1.75em;
  }

  .navbar_menu {
    display: flex;

    li {
      padding: 0 10px;
    }
  }
}

.mockup_section {
  padding: 80px 0;
  min-height: 300px;
  background-color: $section_background_color;
}

.mockup_section_dark {
  background-color: $section_background_dark_color;
}

.mockup_content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;

  h2 {
    margin: 0 0 30px 0;
    font-size: 2em;
  }
}

.mockup_grid {
  display: flex;
  flex-wrap: wrap;

  .mockup_grid_item {
    position: relative;

    .mockup_long_text {
      line-height: 25px;
      margin: 0 0 20px 0;
    }
  }
}

// Widths
.mockup_width_half {
  width: 50%;
}

.mockup_width_third {
  width: 33%;
}

.mockup_width_forth {
  width: 25%;
}

.mockup_image {
  background: rgba(0, 0, 0, 0.08);
  text-align: center;
  line-height: 200px;
  height: 200px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.1);
}

.image_large {
  height: 300px;
  line-height: 300px;
}

.mockup_heading {
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: $heading_medium;
  margin: 30px 0;
}

.mockup_heading_box {
  padding: 30px;
  background-color: $button_color;
  color: $section_background_color;
}

.heading_large {
  font-size: $heading_large;
  margin: 0;
}

.mockup_button {
  border: none;
  background-color: $button_color;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.85em;
  font-weight: 600;
  padding: 1.5em 2.5em;
  white-space: nowrap;
}

.mockup_caption {
  background-color: $section_background_color;
  text-align: center;
  padding: 1.5em;

  h3 {
    margin: 0;
    padding-top: 1em;
  }
}

.mockup_pricing {
  text-align: center;
  background-color: #fff;
  padding: 0 0 2.5rem;

  p {
    margin: 20px 0;
  }
}

.mockup_list_wrap {
  padding: 10px 0;
  margin: 0 0 30px 0;
  background-color: $section_background_dark_color;

  .mockup_list {
    li {
      padding: 10px 0;
    }
  }
}

.paint_area.hold {
  box-shadow: $paint_area_border_color;
}

.paint_text.hold {
  text-shadow: $paint_text_border_color;
}

// customizer
.customizer {
  background: #444;
  position: fixed;
  max-height: 100%;
  max-width: 75px;
  top: 50%;
  left: 0;
  z-index: 10000;
  padding: 20px 10px 10px 10px;
  text-align: center;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  span {
    font-weight: 600;
  }

  .color_tool {
    padding: 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    li {
      padding: 5px;

      input::-webkit-color-swatch {
        border: none;
        border-radius: 45px;
      }

      .input_color {
        width: 35px;
        height: 38px;
        border: none;
        padding: 0;
        background-color: transparent;
      }

      .input_color:hover {
        cursor: move;
        cursor: grab;
      }

      .input_color:active {
        cursor: grabbing;
      }
    }

    .reset_button {
      font-size: 20px;
      border-style: none;
      background-color: transparent;
      color: #fff;
    }
  }
}

@media screen and (max-width: 70em) {
  .mockup_width_forth {
    width: 50%;
  }
}

@media screen and (max-width: 60em) {
  .mockup_width_third {
    width: 100%;
  }
}

@media screen and (max-width: 50em) {
  .mockup_width_forth,
  .mockup_width_half {
    width: 100%;
  }
}
